{{block "about" .}}
<!DOCTYPE html>
  <html lang="en">
    <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>Illicit Finance</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap" rel="stylesheet">
      <link href="../public/index.css" rel="stylesheet">
    </head>
    <body>
    {{template "header"}}
      <article class='article__entities'>
        <div class="about_us_container">
          <div class="about_us">
            <h1>Our mission</h1>
            <p>
            Illicit Networks is a comprehensive site that curates information about illicit actors and their networks. 
            Our mission is never to "collect it all, know it all". Rather, our ideal is to delve deep and curate intelligence on specific actors and their networks and to make this information public.
            <br></br> 
            In this sense, our approach is different from notable projects like OpenSanctions and EveryPolitician that make public big data.
            <br></br>
            We take a different approach because we believe that AML/KYC already benefits from these large datasets and would benefit from targeted and specific intelligence.
            It is our hope that by curating profiles we can enrich and compliment large sources and help investigative journalists, banks, and law enforcement agencies.
            </p>
        </div>
        </div>
         </article>
    {{template "footer"}}
    </body>

</html>
{{end}}


