{{define "header"}}
<header>
        <section class='donate-banner'>
        <div class='donate-banner-content'>
          <span>A website published by Illicit Networks</span>
          <ul>
       <!----   <li>DONATE</li>
          <li>SIGN UP</li> --->
          </ul>
        </div>
      </section>
        <section class='header-banner'>
          <div class='header-logo'>
            <h1>Illicit Networks</h1>
            <p> Tracking groups and individuals <br> behind illicit finance and war</p>
          </div>
<!----          <input placeholder="Search"></input> --->
        </section>
  {{template "nav"}}
     </header>
{{end}}

{{define "footer"}}
  <footer class='footer'>

      <div>
        <span>Copyright @ 2024-10-24 </span>
        <span>Illicit Networks</span>
      </div>
      </footer>
{{end}}
