{{ block "index" .}}
<!DOCTYPE html>
  <html lang="en">
    <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>Illicit Finance</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap" rel="stylesheet">
      <link href="../public/index.css" rel="stylesheet">
    </head>
    <body>
    {{template "header"}}
            <article>
        <section class='content'>
        <img class="hero-image" src='https://images.wsj.net/im-865352?width=1280&size=1.77777778'>
        <section class='content-cols'>
        <div class='two-cols float-left'>
        <hr>
        <h1>Our Publications</h1>
        <a href="/white-paper"><p> 📄 White Paper</p></a>
        </div>
        <div class="two-cols float-right">      
        <hr>
        <h1>ENTITIES</h1>
          <p>
              {{range .}}
              <a href="/entities/{{.Id}}">
              {{.Caption}}
            </a>
          </p>
            {{end}}
      </div>
      </section>
      </section>
      <section class='latest'>
        <h1>News</h1>
        <div class='news'></div>
        <script src='public/js/news.js' defer></script>
      </section>
     </article>
      {{ template "footer"}}
    </body>
</html>
{{end}}

