{{block "profile" .}}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Illicit Finance</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap" rel="stylesheet">
  <link href="../public/index.css" rel="stylesheet">
</head>
<body>
    {{template "header"}}
   <article class="article__entities">
    <div class="content content__entities">
      <div class="content-cols content-cols--entities">
        <div class="two_cols float-left flex_20">
            {{template "select-box"}}
                  </div>
      <div class="two_cols float_right flex_80">
        <section class="profile_content_container">
         <h1>{{.Caption}}</h1>
          <div>
              {{if .Image}}
              <figure>
              <image id="profilePicture" src="http://www.localhost:8090/api/files/Test/{{.Id}}/{{.Image}}" alt="" width="auto" height="200">
              </image>
              </figure>
             {{end}}
              {{if .Properties.Notes}}
              <p>{{index .Properties.Notes 0}}</p>
              {{else}}
              <p></p>
              {{end}}
          </div>
            </section>
    </div>

      </div>
        </div>
          {{template "infobox" .}}
  </article>
    {{template "footer"}}
  </body>
</html>
{{end}}



{{define "infobox"}}
<div class="infobox_container">
  <div id='infobox'></div>
  <script>
   const entityObj = {{getHumanTags .Properties}};
   console.log(entityObj)
   const infobox = document.getElementById("infobox")

   function removeBlanks(obj){
     const result = {};
     for (const key in obj){
       if (obj[key] !== null && obj[key] !== "" && obj[key] !== undefined && key !== "notes"){
         result[key] = obj[key];
       }
     }
     return result;
   }

   const object = removeBlanks(entityObj);
   console.log("Cleared object", object)

   Object.keys(object).forEach(key =>{
     const container = document.createElement('div');
     container.style.cssText = "display: flex; flex-direction: column; width:100%; margin-bottom: 2px;"

     const keyElement = document.createElement('strong');
     keyElement.textContent = `${key}`

     
     const valueElement = document.createElement('span')
     if (Array.isArray(object[key])){
       

       valueElement.textContent = object[key].join(", ");
     } else {
      valueElement.textContent = object[key]
     }

     container.appendChild(keyElement);
     container.appendChild(valueElement);
     infobox.appendChild(container);
     console.log("Printing values", valueElement)
     } 
   );
  

  </script>
</div>
{{end}}


{{define "select-box"}}
    <div class="select-box">
          <span>
              <a href="/entities">Recent</a>
          </span>
    </div>
{{end}}
